[submodule "iterm2-zmodem"]
	path = iterm2-zmodem
	url = https://github.com/aurora/iterm2-zmodem.git
[submodule "rmate"]
	path = rmate
	url = https://github.com/aurora/rmate.git
[submodule "php-version"]
	path = php-version
	url = https://github.com/wilmoore/php-version.git
