<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>unenyq@bpgevf.bet</string>
	<key>contactName</key>
	<string>Harald Lapp</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>set-up</string>
	<key>uuid</key>
	<string>476ADB01-B557-4892-8964-C9FE183862A0</string>
</dict>
</plist>
